/**
 * Global File
 */

/**
 * Colors
 */
$main_color: (
  default: #20a0ff,
  light: #58b7ff,
  dark: #1d7ce0
);

$sub_color: (
  primary: #20a0ff,
  success: #13ce66,
  warning: #f7ba2a,
  danger: #ff4949
);

$neutral_color: (
  black: #1f2d3d,
  light_black: #324057,
  extra_light_black: #475669,
  silver: #9492a6,
  light_silver: #99a9bf,
  extra_light_silver: #c0ccda,
  gray: #d3dce6,
  light_gray: #e5e9f2,
  extra_light_gray: #eff2f7,
  dark_white: #f9fafc,
  white: #fff
);